* {
  padding: 0;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #674baf;
}

.container {
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 74px 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .container {
    background-image: url("../images/bg-desktop.svg");
  }
}

.container .logo {
  margin-top: 50px;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  .container .logo img {
    width: 220px;
  }
}

.container .content {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1000px) {
  .container .content {
    display: -ms-grid;
    display: grid;
    gap: 60px;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    margin-top: 80px;
  }
}

.container .content .gambar {
  margin: 100px 0;
}

@media screen and (min-width: 1000px) {
  .container .content .gambar {
    margin: auto;
  }
}

.container .content .gambar img {
  width: 100%;
}

.container .content .isi {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1000px) {
  .container .content .isi {
    margin-top: 50px;
    margin-bottom: auto;
  }
}

.container .content .isi h1 {
  font-weight: 600;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 46px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1000px) {
  .container .content .isi h1 {
    text-align: left;
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.container .content .isi p {
  line-height: 1.5;
  font-size: 32px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom: 52px;
}

@media screen and (min-width: 1000px) {
  .container .content .isi p {
    text-align: left;
    font-size: 17px;
    margin-bottom: 30px;
  }
}

.container .content .isi a {
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: white;
  padding: 22px 130px;
  margin: auto;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #674baf;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (min-width: 1000px) {
  .container .content .isi a {
    margin: 0;
    margin-right: auto;
    font-size: 17px;
    padding: 14px 65px;
  }
}

.container .content .isi a:hover {
  background-color: #e882e8;
  color: white;
}

.container .social-media {
  margin-bottom: 50px;
  margin-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  .container .social-media {
    margin: auto 0;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

.container .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  border: 2px white solid;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media screen and (min-width: 1000px) {
  .container .social-media a {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}

.container .social-media .twitter {
  margin: 0 20px;
}

@media screen and (min-width: 1000px) {
  .container .social-media .twitter {
    margin: 0 16px;
  }
}

.container .social-media a:hover {
  border: 2px #e882e8 solid;
  color: #e882e8;
}
/*# sourceMappingURL=main.css.map */